<h3 class="ui header">{{t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерАкта
      class=(if (v-get validationModel "номерАкта" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.номерАкта-caption")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-номерАкта=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерАкта" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.датаПриемки
      class=(if (v-get validationModel "датаПриемки" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.датаПриемки-caption")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-датаПриемки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаПриемки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.табель
      class=(if (v-get validationModel.сотрудники "табель" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.сотрудники.табель-caption")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-сотрудники-табель=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники "табель" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.тН.колво
      class=(if (v-get validationModel.тН "колво" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.тН.колво-caption")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-тН-колво=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.тН "колво" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.тН.материал
      class=(if (v-get validationModel.тН "материал" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.тН.материал-caption")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-тН-материал=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.тН "материал" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.тН.номерТС
      class=(if (v-get validationModel.тН "номерТС" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.тН.номерТС-caption")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-тН-номерТС=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.тН "номерТС" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.тН-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.тН
      relationName="тН"
      projection="ТНL"
      title=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.тН-caption")
      readonly=readonly
      componentName="тНLookup"
      class=(if (v-get validationModel "тН" "isInvalid") "error")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-тН=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тН" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.тЧАктаПриемки.склад.кодСклада
      class=(if (v-get validationModel.тЧАктаПриемки.склад "кодСклада" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.тЧАктаПриемки.склад.кодСклада-caption")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-тЧАктаПриемки-склад-кодСклада=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.тЧАктаПриемки.склад "кодСклада" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.тЧАктаПриемки.тН.номерТН
      class=(if (v-get validationModel.тЧАктаПриемки.тН "номерТН" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.тЧАктаПриемки.тН.номерТН-caption")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-тЧАктаПриемки-тН-номерТН=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.тЧАктаПриемки.тН "номерТН" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.тЧАктаПриемки.тН.номерТС
      class=(if (v-get validationModel.тЧАктаПриемки.тН "номерТС" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.тЧАктаПриемки.тН.номерТС-caption")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-тЧАктаПриемки-тН-номерТС=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.тЧАктаПриемки.тН "номерТС" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.тЧАктаПриемки.тН.поставщик
      class=(if (v-get validationModel.тЧАктаПриемки.тН "поставщик" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-osipova-itog-акт-приемки-e.тЧАктаПриемки.тН.поставщик-caption")
      data-test-i-i-s-k-r-osipova-itog-акт-приемки-e-тЧАктаПриемки-тН-поставщик=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.тЧАктаПриемки.тН "поставщик" "message")}}
  </div>
</form>
